.social-icon-delicious{
	background-position-y:0%;
	background-color:#3274D1;
}
.social-icon-digg{
	background-position-y:5.25%;
	background-color:#14589E;
}
.social-icon-email{
	background-position-y:10.5%;
	background-color:#ccc;
}
.social-icon-facebook{
	background-position-y:15.75%;
	background-color:#3B5998;
}
.social-icon-flattr{
	background-position-y:21%;
	background-color:#F67C1A;
}
.social-icon-flickr{
	background-position-y:26.25%;
	background-color:#0063DB;
}
.social-icon-geeklist{
	background-position-y:31.5%;
	background-color:#8CC63E;
}
.social-icon-github{
	background-position-y:36.75%;
	background-color:#4183C4;
}
.social-icon-googleplus{
	background-position-y:42%;
	background-color:#D14836;
}
.social-icon-hackernews{
	background-position-y:47.25%;
	background-color:#FF6600;
}
.social-icon-instagram{
	background-position-y:52.5%;
	background-color:#3F729B;
}
.social-icon-linkedin{
	background-position-y:57.75%;
	background-color:#007FB1;
}
.social-icon-pinterest{
	background-position-y:63%;
	background-color:#CB2027;
}
.social-icon-pocket{
	background-position-y:68.25%;
	background-color:#EF4056;
}
.social-icon-posterous{
	background-position-y:73.5%;
	background-color:red;
}
.social-icon-reddit{
	background-position-y:78.75%;
	background-color:#FF4500;
}
.social-icon-stumbleupon{
	background-position-y:84%;
	background-color:#EB4924;
}
.social-icon-tumblr{
	background-position-y:89.25%;
	background-color:#2C4762;
}
.social-icon-twitter{
	background-position-y:94.5%;
	background-color:#00ACED;
}
.social-icon-xing{
	background-position-y:99.75%;
	background-color:#006567;
}