.social-icon-delicious{
	background-position-y:0%;
	background-color:blue;
}
.social-icon-digg{
	background-position-y:4.745454545454546%;
	background-color:green;
}
.social-icon-disqus{
	background-position-y:9.490909090909092%;
	background-color:yellow;
}
.social-icon-dribbble{
	background-position-y:14.236363636363638%;
	background-color:yellow;
}
.social-icon-email{
	background-position-y:18.981818181818184%;
	background-color:yellow;
}
.social-icon-facebook{
	background-position-y:23.72727272727273%;
	background-color:yellow;
}
.social-icon-flattr{
	background-position-y:28.472727272727276%;
	background-color:yellow;
}
.social-icon-flickr{
	background-position-y:33.21818181818182%;
	background-color:yellow;
}
.social-icon-geeklist{
	background-position-y:37.96363636363637%;
	background-color:yellow;
}
.social-icon-github{
	background-position-y:42.70909090909092%;
	background-color:yellow;
}
.social-icon-googleplus{
	background-position-y:47.45454545454547%;
	background-color:yellow;
}
.social-icon-hackernews{
	background-position-y:52.20000000000002%;
	background-color:yellow;
}
.social-icon-instagram{
	background-position-y:56.94545454545457%;
	background-color:yellow;
}
.social-icon-linkedin{
	background-position-y:61.690909090909116%;
	background-color:yellow;
}
.social-icon-pinterest{
	background-position-y:66.43636363636367%;
	background-color:yellow;
}
.social-icon-pocket{
	background-position-y:71.18181818181822%;
	background-color:yellow;
}
.social-icon-posterous{
	background-position-y:75.92727272727276%;
	background-color:yellow;
}
.social-icon-reddit{
	background-position-y:80.67272727272731%;
	background-color:yellow;
}
.social-icon-stumbleupon{
	background-position-y:85.41818181818186%;
	background-color:yellow;
}
.social-icon-tumblr{
	background-position-y:90.16363636363641%;
	background-color:yellow;
}
.social-icon-twitter{
	background-position-y:94.90909090909096%;
	background-color:yellow;
}
.social-icon-xing{
	background-position-y:99.65454545454551%;
	background-color:yellow;
}